lib
logs
dist
accounts

node_modules
koishi.yml
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
test/*/**

.eslintcache
.DS_Store
.idea
.vite
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.txt
