lib
logs
dist
accounts
resources

node_modules
koishi.yml
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
test/*/**
.koishi.db

.eslintcache
.DS_Store
.idea
.vite
.yarn
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.txt
